<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.momas.smbms.dao.ProviderMapper">

	<select id="count" resultType="int">
		SELECT count(*) FROM <include refid="TABLE_NAME"/>
	</select>
	
	
	<select id="queryAll" resultMap="providerResultMap">
		SELECT <include refid="ALL_COLUMN"/> FROM <include refid="TABLE_NAME"/>
	</select>
	
	<select id="queryById" resultMap="providerResultMap">
		SELECT <include refid="ALL_COLUMN"/> 
		FROM <include refid="TABLE_NAME"/>
		WHERE id=#{id}
	</select>
	
	<insert id="add" parameterType="Provider">
		INSERT INTO <include refid="TABLE_NAME"/>(<include refid="COLUMN_WITHOUT_ID"/>)
		VALUES(
			#{proCode},
			#{proName},
			#{proDesc},
			#{proContact},
			#{proPhone},
			#{proAddress},
			#{proFax},
			#{createdBy},
			#{creationDate},
			#{modifyBy},
			#{modifyDate}
		)
	</insert>
	
	<update id="update">
		UPDATE <include refid="TABLE_NAME"/>
		<set>
			<if test="proCode != null">proCode=#{proCode},</if>
			<if test="proName != null">proName=#{proName},</if>
			<if test="proDesc != null">proDesc=#{proDesc},</if>
			<if test="proContact != null">proContact=#{proContact},</if>
			<if test="proPhone != null">proPhone=#{proPhone},</if>
			<if test="proAddress != null">proAddress=#{proAddress},</if>
			<if test="proFax != null">proFax=#{proFax},</if>
			<if test="createdBy != null">createdBy=#{createdBy},</if>
			<if test="creationDate != null">creationDate=#{creationDate},</if>
			<if test="modifyBy != null">modifyBy=#{modifyBy},</if> 
			<if test="creationDate != null">creationDate=#{creationDate}</if>
		</set>
		WHERE id=#{proId}
	</update>
	
	<delete id="delete">
		DELETE FROM <include refid="TABLE_NAME"/>
		WHERE id=#{proId}
	</delete>
	
	<resultMap id="providerResultMap" type="Provider">
		<id		property="proId"		column="id"/>
		<result	property="proCode"		column="proCode"/>
		<result	property="proName"		column="proName"/>
		<result property="proDesc"		column="proDesc"/>
		<result	property="proContact"	column="proContact"/>
		<result	property="proPhone"		column="proPhone"/>
		<result property="proAddress"	column="proAddress"/>
		<result	property="proFax" 		column="proFax"/>
		<result	property="createdBy"	column="createdBy"/>
		<result	property="creationDate"	column="creationDate"/>
		<result	property="modifyDate"	column="modifyDate"/>
		<result	property="modifyBy"		column="modifyBy"/>
	</resultMap> 
	
	<sql id="TABLE_NAME">
		smbms_provider
	</sql>
	<sql id="ALL_COLUMN">
		id,
		<include refid="COLUMN_WITHOUT_ID"/>
	</sql>
	
	<sql id="COLUMN_WITHOUT_ID">
		proCode,
		proName	,
		proDesc	,
		proContact,
		proPhone,
		proAddress,
		proFax,
		createdBy,
		creationDate,
		modifyDate,
		modifyBy
	</sql>
</mapper>